.startup-body {
  margin: 0;
}

.startup-caption,
.startup-logo,
.startup-wiggle {
  margin-bottom: 2rem;
}

.startup-caption {
  font-size: 2rem;
}

.startup-loading {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100%;
  justify-content: center;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.startup-logo {
  height: 9rem;
  width: 9rem;
}

.startup-wiggle {
  animation: startup-wiggler 0.5s linear infinite;
}

mm-root.ready + .startup-loading {
  opacity: 0;
  z-index: -1;
}

@keyframes startup-wiggler {
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate(-10deg);
  }

  0%,
  20%,
  40%,
  60%,
  80% {
    transform: rotate(10deg);
  }
}
