:focus {
  outline: 1px dotted;
}

::selection {
  background-color: transparent;
  color: var(--tui-accent);
}

header {
  padding-top: 0.5rem;
  text-align: center;
  width: 100%;

  > * {
    margin: 0;
  }
}

input {
  background-color: inherit;
  border: none;
  color: inherit;
  font-family: inherit;
}

main {
  display: block;
  height: 100%;
  left: calc((100% - 40rem) / 2);
  position: absolute;
  width: 40rem;

  .data {
    display: block;
    height: calc(100% - 25rem);
    opacity: 1;
    position: absolute;
    top: 22rem;
    transition: opacity 0.25s linear;
    width: 100%;
    z-index: 1;

    &.hidden {
      opacity: 0;
      z-index: -1;
    }
  }

  .footer {
    bottom: 2rem;
    display: block;
    height: 2rem;
    position: absolute;
    width: 100%;
  }

  .header {
    display: block;
    height: 3rem;
    position: absolute;
    width: 100%;
  }

  .tabs {
    display: block;
    height: 5rem;
    position: absolute;
    top: 17rem;
    width: 100%;
  }

  .wavesurfer {
    display: block;
    height: 14rem;
    position: absolute;
    top: 3rem;
    width: 100%;
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  .heading {
    font-size: larger;
    font-weight: bold;
    height: 1.75rem;
    overflow: hidden;
  }

  tr {
    vertical-align: top;
  }
}

textarea {
  background-color: inherit;
  border: none;
  color: inherit;
  font-family: inherit;
  resize: none;
}

tui-root {
  height: 100%;
}

tui-scrollbar {
  height: 100%;
}

tui-svg.marker {
  opacity: 0;
  transition: opacity 0.5s;

  &.current {
    opacity: 1;
  }
}
